<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %} - R.C.I. Colis</title>
        {% block stylesheets %}
            {% include "includes/stylesheets.html.twig" %}
        {% endblock %}
        <link rel="stylesheet" href="{{ absolute_url(asset('css/style.css')) }}">
    </head>
    <body>
            <div class="loader-container">
                <div class="loader"><img src="{{ absolute_url(asset('images/giphy.gif')) }}" alt="loader colis"></div>
            </div>
            
            {% block navbar %}
                {% include "navbar/nav_black.html.twig" %}
            {% endblock navbar %}
        <div id="histo" class="pb-5 mb-4">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% else %}
                
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="d-flex flex-column  align-items-center justify-content-center pb-5">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        <!-- Footer -->
    <footer class="page-footer text-center font-small mt-4 wow blue-gradient">

      <hr class="my-4">

      <!-- Social icons -->
      <div class="row w-100 d-flex- justify-content-center">
        <div class="col-md-2 d-flex flex-column">
          <h5 class="text-left">À propos de relais colis</h5>
          <ul class="p-0">
            <li class="text-left list-unstyled"><a href="{{path('front_historique')}}">Qui sommes-nous?</a></li>
            <li class="text-left list-unstyled"><a href="{{path('front_tarifs')}}">Nos abonnements</a></li>
          </ul>
        </div>
        <div class="col-md-2 d-flex flex-column">
          <h5 class="text-left">Informations légales</h5>
          <ul class="p-0">
            <li class="text-left list-unstyled"><a href="{{path('front_cguv')}}">C.G.U.V.</a></li>
            <li class="text-left list-unstyled"><a href="{{path('front_mentions')}}">Mentions légales</a></li>
            <li class="text-left list-unstyled"><a href="{{path('front_confidentialite')}}">Politique de confidentialité</a></li>
            <li class="text-left list-unstyled"><a href="{{path('front_cookies')}}">Utilisation des cookies</a></li>
            <li class="text-left list-unstyled"><a href="{{path('front_credits')}}">Crédits</a></li>
          </ul>
        </div>
        <div class="col-md-2 d-flex flex-column">
          <h5 class="text-left">Besoin d'aide ?</h5>
          <ul class="p-0">
            <li class="text-left list-unstyled"><a href="{{path('contact')}}">Nous contacter</a></li>
            <li class="text-left list-unstyled"><a href="{{path('front_FAQ')}}">Consultez notre F.A.Q.</a></li>
          </ul>
        </div>

      </div>

      <!--Copyright-->
      <div class="footer-copyright py-3">
          Copyright &copy; RCI-Colis - {{ "now"|date("Y") }}
      </div>
      <!--/.Copyright-->

  </footer>
  <!-- Footer -->
    
            {% block javascripts %}
                {% include "includes/javascripts.html.twig" %}
            {% endblock %}
    
        </body>
    </body>
</html>
