<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
              <!-- Brand -->
              <a class="navbar-brand" href="{{path('front_index')}}">
                <img class="logo mr-5" src="images/logo.png" >
              </a>
              <!-- Collapse -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- Links -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                  
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">QUI SOMMES NOUS ?</a>
                      <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{path('front_historique')}}">Historique</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">NOS SERVICES</a>
                    <div class="row dropdown-menu dropdown-primary dropright" aria-labelledby="navbarDropdownnMenuLink">
                        <a class="dropdown-item dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">Particuliers</a>
                         <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Adhérer à RCI</a>
                          <a class="dropdown-item" href="#">Les points relais RCI</a>
                          <a class="dropdown-item" href="#">Passer une commande</a>
                        </div>
                        <a class="dropdown-item dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">Professionnel</a>
                         <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Devenir RCI</a>
                        </div>
                    </div>
                </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">NOS ABONNEMENTS</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Nos tarifs</a>
                      <a class="dropdown-item" href="#">Formule à l’unité</a>
                      <a class="dropdown-item" href="#">Formule sur devis</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                  </li>
                </ul>
                <ul class="navbar-nav">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}" class="nav-link active">Se connecter<i class="ml-1 fas fa-user"></i></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path('fos_user_registration_register') }}" class="nav-link active">S'inscrire<i class="ml-1 fas fa-edit"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_login') }}" class="nav-link active">Se connecter<i class="ml-1 fas fa-user"></i></a>
                        </li>
                    {% endif %}
                </ul>
              </div>
        </div>
    </nav>