<nav class="navbar fixed-top navbar-expand-lg nav-transparent   fixed-top scrolling-navbar">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="{{path('front_index')}}">
            <img class="logo mr-5" src="images/logo.png">
        </a>
        <!-- Collapse -->
        <button class="navbar-toggler hidden-lg-up blue-gradient" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon white-text">
                <i class="fas fa-bars fa-1x"></i>
            </span>
            </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left -->
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">QUI SOMMES-NOUS ?</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{path('front_historique')}}">Historique</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NOS SERVICES</a>
                    <div class="row dropdown-menu dropdown-primary dropright" aria-labelledby="navbarDropdownnMenuLink">
                        <a class="dropdown-item dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Particuliers</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="dropdown-item" href="{{ path('front_relais')}}">Les points relais RCI</a>
                            <a class="dropdown-item" href="{{path('front_commande')}}">Passer une commande</a> {% else %}
                            <a class="dropdown-item" href="{{ path('front_relais')}}">Les points relais RCI</a>
                            <a class="dropdown-item" href="{{path('front_commande')}}">Passer une commande</a>
                            <a class="dropdown-item" href="{{ path('fos_user_registration_register') }}">Inscription</a> {% endif %}
                        </div>
                        <a class="dropdown-item" href="{{ path('front_professionel')}}">Professionnels</a>
                        <a class="dropdown-item" href="{{ path('front_devenir_rci')}}">Devenir relais colis indépendant</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NOS ABONNEMENTS</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('front_tarifs')}}">Nos tarifs</a>
                        <a class="dropdown-item" href="{{ path('front_formule_unite')}}">Formule à l’unité</a>
                        <a class="dropdown-item" href="{{path('front_formule_devis')}}">Formule sur devis</a>
                    </div>
                </li>
                <a class="nav-item nav-link text-white" href="{{path('contact')}}">CONTACT</a>
            </ul>
            <ul class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href="{{ path('fos_user_security_logout') }}" class="nav-link btn btn-outline-white rounded-pill active px-4">Déconnexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ path('fos_user_registration_register') }}" class="nav-link btn btn-outline-white rounded-pill active px-4">Inscription</a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_login') }}" class="nav-link btn btn-outline-white rounded-pill active px-4">Connexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>