<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}R.C.I Colis{% endblock %}</title>
    {% block stylesheets %} {% include "includes/stylesheets.html.twig" %} {% endblock %}
    <link rel="stylesheet" href="{{ absolute_url(asset('css/style.css')) }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#eaf7f7",
          "text": "#5c7291"
        },
        "button": {
          "background": "#56cbdb",
          "text": "#ffffff"
        }
      },
      "theme": "classic",
      "type": "opt-out",
      "content": {
        "message": "Ce site utilise les cookies afin d'avoir une expérience optimale.",
        "dismiss": "J'accepte",
        "deny": "Je refuse",
        "link": "Voir plus",
        "allow": "J'accepte",
        "href": "https://rci-colis.com/cookies/"
      }
    })});
    </script>
</head>

<body>
    <div class="loader-container">
        <div class="loader"><img src="{{ absolute_url(asset('images/giphy.gif')) }}" alt="loader colis"></div>
    </div>

    <header>
        {% block navbar %} {% endblock navbar %}
    </header>

    {% block body %} {% endblock %}

    <!-- Footer -->
    <footer class="page-footer text-center font-small mt-4 wow blue-gradient">

        <hr class="my-4">

        <!-- Social icons -->
        <div class="row w-100 d-flex- justify-content-center">
          <div class="col-md-2 d-flex flex-column">
            <h5 class="text-left">À propos de R.C.I</h5>
            <ul class="p-0">
              <li class="text-left list-unstyled"><a href="">Qui sommes-nous ?</a></li>
              <li class="text-left list-unstyled"><a href="">Nos abonnements</a></li>
            </ul>
          </div>
          <div class="col-md-2 d-flex flex-column">
            <h5 class="text-left">Informations légales</h5>
            <ul class="p-0">
              <li class="text-left list-unstyled"><a href="{{path('front_cguv')}}">C.G.U.V.</a></li>
              <li class="text-left list-unstyled"><a href="{{path('front_mentions')}}">Mentions légales</a></li>
              <li class="text-left list-unstyled"><a href="">Politique de confidentialité</a></li>
              <li class="text-left list-unstyled"><a href="">Utilisation des cookies</a></li>
              <li class="text-left list-unstyled"><a href="">Crédits</a></li>
            </ul>
          </div>
          <div class="col-md-2 d-flex flex-column">
            <h5 class="text-left">Besoin d'aide ?</h5>
            <ul class="p-0">
              <li class="text-left list-unstyled"><a href="{{path('contact')}}">Nous contacter</a></li>
              <li class="text-left list-unstyled"><a href="{{path('front_FAQ')}}">Consultez notre F.A.Q.</a></li>
            </ul>
          </div>

        </div>

        <!--Copyright-->
        <div class="footer-copyright py-3">
            Copyright &copy; RCI-Colis - {{ "now"|date("Y") }}
        </div>
        <!--/.Copyright-->

    </footer>
    <!-- Footer -->

    {% block javascripts %} {% include "includes/javascripts.html.twig" %} {% endblock %}

</body>

</html>